This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 's9SrCKr4-v9ow-TkpsnH'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import json
import quandl
import requests

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
data=quandl.get("FSE/AFX_X", authtoken="s9SrCKr4-v9ow-TkpsnH", start_date="2017-01-01", end_date="2017-12-01")
data

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...
2017-11-27,49.13,49.73,48.96,49.20,NaN,102180.0,5055762.0,None,None,None
2017-11-28,49.09,49.89,49.03,49.25,NaN,42669.0,2107358.0,None,None,None
2017-11-29,49.64,49.64,48.70,48.75,NaN,67342.0,3292223.0,None,None,None
2017-11-30,48.64,49.84,48.28,49.70,NaN,123019.0,6085171.0,None,None,None
2017-12-01,49.52,50.49,49.17,49.86,NaN,101733.0,5065932.0,None,None,None

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
for key,value in data.items():
    print(key + ':' , value)

Open: Date
2017-01-02    34.99
2017-01-03    35.90
2017-01-04    35.48
2017-01-05    35.02
2017-01-06    34.91
              ...
2017-11-27    49.13
2017-11-28    49.09
2017-11-29    49.64
2017-11-30    48.64
2017-12-01    49.52
Name: Open, Length: 237, dtype: float64
High: Date
2017-01-02    35.94
2017-01-03    35.93
2017-01-04    35.51
2017-01-05    35.20
2017-01-06    35.21
              ...
2017-11-27    49.73
2017-11-28    49.89
2017-11-29    49.64
2017-11-30    49.84
2017-12-01    50.49
Name: High, Length: 237, dtype: float64
Low: Date
2017-01-02    34.99
2017-01-03    35.34
2017-01-04    34.75
2017-01-05    34.73
2017-01-06    34.91
              ...
2017-11-27    48.96
2017-11-28    49.03
2017-11-29    48.70
2017-11-30    48.28
2017-12-01    49.17
Name: Low, Length: 237, dtype: float64
Close: Date
2017-01-02    35.80
2017-01-03    35.48
2017-01-04    35.19
2017-01-05    35.06
2017-01-06    35.04
              ...
2017-11-27    49.20
2017-11-28    49.25
2017-11-29    48.75
2017-11-30    49.70
2017-12-01    49.86
Name: Close, Length: 237, dtype: float64
Change: Date
2017-01-02   NaN
2017-01-03   NaN
2017-01-04   NaN
2017-01-05   NaN
2017-01-06   NaN
              ..
2017-11-27   NaN
2017-11-28   NaN
2017-11-29   NaN
2017-11-30   NaN
2017-12-01   NaN
Name: Change, Length: 237, dtype: float64
Traded Volume: Date
2017-01-02     44700.0
2017-01-03     70618.0
2017-01-04     54408.0
2017-01-05     48412.0
2017-01-06     27507.0
                ...
2017-11-27    102180.0
2017-11-28     42669.0
2017-11-29     67342.0
2017-11-30    123019.0
2017-12-01    101733.0
Name: Traded Volume, Length: 237, dtype: float64
Turnover: Date
2017-01-02    1590561.0
2017-01-03    2515473.0
2017-01-04    1906810.0
2017-01-05    1692326.0
2017-01-06     964046.0
                ...
2017-11-27    5055762.0
2017-11-28    2107358.0
2017-11-29    3292223.0
2017-11-30    6085171.0
2017-12-01    5065932.0
Name: Turnover, Length: 237, dtype: float64
Last Price of the Day: Date
2017-01-02    None
2017-01-03    None
2017-01-04    None
2017-01-05    None
2017-01-06    None
              ...
2017-11-27    None
2017-11-28    None
2017-11-29    None
2017-11-30    None
2017-12-01    None
Name: Last Price of the Day, Length: 237, dtype: object
Daily Traded Units: Date
2017-01-02    None
2017-01-03    None
2017-01-04    None
2017-01-05    None
2017-01-06    None
              ...
2017-11-27    None
2017-11-28    None
2017-11-29    None
2017-11-30    None
2017-12-01    None
Name: Daily Traded Units, Length: 237, dtype: object
Daily Turnover: Date
2017-01-02    None
2017-01-03    None
2017-01-04    None
2017-01-05    None
2017-01-06    None
              ...
2017-11-27    None
2017-11-28    None
2017-11-29    None
2017-11-30    None
2017-12-01    None
Name: Daily Turnover, Length: 237, dtype: object

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [5]:
data['Traded Volume'].median()

74472.0

In [6]:
data['Open'].max()

49.64

In [7]:
data['Open'].min()

34.0

In [9]:
data['High'].sub(data['Low'],axis=0).max()

2.8100000000000023

In [10]:
data['Close'].sub(data['Close'],axis=0)

Date
2017-01-02    0.0
2017-01-03    0.0
2017-01-04    0.0
2017-01-05    0.0
2017-01-06    0.0
             ...
2017-11-27    0.0
2017-11-28    0.0
2017-11-29    0.0
2017-11-30    0.0
2017-12-01    0.0
Name: Close, Length: 237, dtype: float64